nav {
    margin-top:54px;
    height: 320px;
    /* 為了讓漸層效果表現成功率更高，建議使用各種瀏覽器適用前綴 */
    background: -webkit-linear-gradient(left top,#AADDEE, #66AABB); /* Google Chrome 與 Apple Safari 使用 -webkit-*/
    background: -moz-linear-gradient(bottom right, #AADDEE, #66AABB); /* Mozilla FireFox 使用 -moz- */
    background: -o-linear-gradient(bottom right, #AADDEE, #66AABB); /* Opera 使用 -o- */
    background: linear-gradient(to bottom right, #AADDEE, #66AABB);
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.backgroundbox {
    width:650px; height:320px;
    position:relative;
}

.background-img {
    position:absolute;
    width:100%;height:100%;bottom:0px;
    background-image: url("../png/welcome1.png"); /*css為當前目錄去推算*/
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.slogan {
    /* margin: 75px 360px 76px; */ /*取消掉反而可以對齊*/
    z-index: 2;
    margin-right: 30px;
}
.description1 {
    color: white;
    font-size: 28px;font-weight:bold;
    margin:10px;
}
.description2 {
    font-size: 16px;
    color: white;
    margin:10px;
}
.search-block {margin:10px;}

#keyword-form { /* form keyword*/
    display:flex;
}

/* 搜尋欄位input的placeholder */
/* ::placeholder 一般使用 */
#keyword::-webkit-input-placeholder { /*這個是針對舊版的 Chrome, Safari 特定的語法。*/
    width:370px; height:20px;
    color: #757575;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.text {
    width:396px;height:46px;
    border-radius: 5px 0 0 5px; /* 左上 右上 右下 左下*/
    border: none; /*邊框不要有黑色*/
    outline:medium; /*medium*//*在鼠标点击时，会有黑色or藍色的边框，去掉。*/
    font-size: 16px; /* 輸入時文字的大小 */
}
.search-icon-block {
    border-radius: 0 5px 5px 0; /* 左上 右上 右下 左下*/
    border: 0;
    width:60px;height:46px;
    background-color: #448899;
    display:flex;
    justify-content: center;
    align-items: center;
}
#search-icon-img{cursor:pointer;}

#search-icon-button {display:none;}

main {
    margin-top:55px;
}

.container {
    display:flex; flex-wrap:wrap;
    /* justify-content: space-between; */
    justify-content:center;
    align-items: center;
    color: #777777;
    font-size:24px;
    /* background-color: #666666; */
    /* margin:10px; */
}

.bigbox { 
    /*因為要設定寬度而設置，因為container設flex不能再設定寬度 
    也不會因為原本的box(現在smallbox)只有一個而置中*/
    width:1200px; 
}

.smallbox {
    display:inline-block;
    width:278px; height:250px;
    position:relative;
    margin:0 10px 30px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    cursor:pointer;
}


.smallbox img {
    display:block;
    max-width:100%;
    object-fit:cover;
    position: absolute;
    left:0;top:0;
    width:100%;
    height:70%;
}

.smallbox:hover {
    border: 1px solid #777;
    opacity:0.6;
    transform:translate(0px, -5px) /*x,y軸*/
}

.attraction-name {
    white-space:nowrap; /*死都不換行*/
    overflow:hidden; /* 如果超出範圍，用...*/
    text-overflow: ellipsis;
    width:276px;
    color: #757575;
    padding:10px;
    font-weight: bold;
    position: absolute;
    top:70%;
    font-size:16px;
}

.att-about {
    display:flex;
    width:100%; /* 照box */
    position: absolute;
    padding:10px;
    top:82%;
    font-size:16px;
}
.mrt {
    width:50%;
    text-align: left;
    color: #757575;
}
.category {
    width:50%;
    text-align: right;
    color: #757575;
}

@media (max-width:1210px) {
    .title {
        margin-left: 20px; /*文字和搜尋框，左邊和上面的標題以及下面的景點列表切齊*/
    }
    .slogan {
        margin-left: 20px; /*文字和搜尋框，左邊和上面的標題以及下面的景點列表切齊*/
    }
    .bigbox {
        margin-left:25px;
    }
    .smallbox {
        width:45%; /*45/15 = 3倍 */
        padding-top: 42% 
    }
    .att-about {top:87%;}  /* 微調 字的距離 */

    .background-img {
        width:450px;height:250px;
        position:absolute;
        bottom:-28px;right:0%;
    }

}
@media (max-width:600px) {
    .smallbox {
        width:90%; /*90/15 = 6倍 */
        padding-top: 84% 
    }
    .text {
        width:230px;height:46px;
    }
    .background-img {
        width:350px;height:200px;
        position:absolute;bottom:-28px;left:0%;
    }
    .backgroundbox {
        width:230px;height:228px;
        position:absolute;bottom:0px;right:0px;
        overflow:hidden;/*設定box寬度(大小於img,就可以產生overflow-x，並且把它隱藏*/
    }
}

