{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
<nav>
    <div class="slogan">
        <div class="description1">輕鬆享受台北一日悠閒</div>
        <div class="description2">探索角落，體驗城市的深度旅遊行程</div>
        <div class="search-block">
            <form id="keyword-form">
                <input id="keyword" type="text" placeholder="輸入景點名稱查詢" class="text">
                <div class="search-icon-block">
                    <label for="search-icon-button">
                        <img src="/png/icon/icon_search.png">
                    </label>
                    <input type="submit" name="search-icon" id="search-icon-button">        
                </div>
            </form>
        </div>
    </div>
    <div class="backgroundbox">
        <div class="background-img"></div>
    </div>
</nav>
<main>
    <div id="attractions">
    </div>
    <div class="loading"></div>
</main>
<script src="/js/index.js" type="module"></script>     
<!-- 載入js檔案 -->
{% endblock %}