{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/thankyou.css">
{% endblock %}

{% block content %}
<main>
    <div class="fixed">
        <div class="container">
            <div class="payment-state">
                <!-- 付款成功 -->
            </div>
            <div class="payment-state">您的付款資訊如下:</div>
            <div class="format">
                <table>
                    <tr>
                        <td class="left-word-format">訂單編號</td>
                        <td class="right-word-format" id="order_number">
                            <!-- 202105231220 -->
                        </td>
                    </tr>
                    <tr>
                        <td class="left-word-format">銀行交易序號</td>
                        <td class="right-word-format" id="bank_number">
                            <!-- TP20210524O7qQOp -->
                        </td>
                    </tr>
                    <tr>
                        <td class="left-word-format">訂單金額</td>
                        <td class="right-word-format" id="order_price">
                            <!-- 新台幣 2000 元 -->
                        </td>
                    </tr>
                    <tr>
                        <td class="left-word-format">訂單行程</td>
                        <td class="right-word-format" id="attraction_name"></td>
                    </tr>
                    <tr>
                        <td class="left-word-format">出遊日期</td>
                        <td class="right-word-format" id="trip_date"></td>
                    </tr>
                    <tr>
                        <td class="left-word-format">出遊時間</td>
                        <td class="right-word-format" id="trip_time"></td>
                    </tr>
                </table>
            </div>
            <div class="note">通知 : 將會提早半個小時至台北車站集合，請攜帶好您的水壺及雨具。</div>
        </div>
    </div>
</main>
<script src="/js/thankyou.js"></script>  
{% endblock %}